* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: azure;
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
button {
  border-radius: 0.5rem;
  padding: 0.3rem;
}
#cs-rock,
#cs-paper,
#cs-scissors {
  pointer-events: none;
}

.btn:hover {
  stroke: none;
  background-color: lightblue;
  /* color: white; */
  /* border: 1px solid rgb(14, 11, 11); */
}
h2 {
  padding: 0.5rem 0;
  text-align: center;
}
p {
  text-align: center;
}
.player,
.cs-play {
  gap: 1rem;
}

footer {
  padding: 1rem;
  background-color: rgb(143, 190, 206);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 900;
}
.content {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  text-align: center;
}
h1 {
  background-color: lightblue;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem;
}
.active {
  background-color: rgb(245, 133, 133);
  color: white;
  /* border: 1px solid rgb(14, 11, 11); */
}
img {
  height: 50px;
  width: 50px;
}
.btn:disabled {
  background-color: white;
}
#result {
  line-height: 1.8rem;
  flex-basis: 70px;
  text-transform: capitalize;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
